*{
    width:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    align-items: center;
    text-align: center;
    font-weight: bold;
}

h2 {
    align-items: center;
    text-align: center;
    font-weight: bold;
}

h4 {
    align-items: center;
    text-align: center;
    font-weight: bold;
}

svg {
    height: 2em;
    width: 2em;
}

.size {
    height: 1em;
    width: 1em;
}

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    font-weight: bold;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}


.player-current-label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.25em;
    color: white;
}

.player-current-score {
    font-size: 2em;
}
.active { background-color: #f7f7f7; }
.active .player-name { font-weight: bold; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.cadrerouge {
    background-color: #EB4D4D;
    color: #fff;
    
    align-items: center;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.white {
    color: white;
    align-items: center;
    text-align: center;
}

.centre {
    align-items: center;
    text-align: center;
}

.sizede {
    height: 10em;
    width: 10em;
    transform: translate( 60%, -0%);
}

button {  
    background-color: white;
    border: none;
    color: #555;
    font-family: Lato;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}
/*
.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}
*/

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.png);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 75em;
    height: 40em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}